* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
 section{
    width: 10%;
    height: 100px;
    float:left;
    border: solid 2px red;
}
 div{
    width: 25%;
    height: 100px;
    float:left;
    border: solid 2px red;
}

img {
  width: 100%;
  height: 100%;
}